*

!server/src/*
!server/index.js
!server/package.json
!server/.env-docker
!server/.babelrc
!package.json
!yarn.lock

!.yarnrc.yml
!.yarn/cache/*
!.yarn/releases/*
!.yarn/plugins/*
!.yarn/sdks/*
!.yarn/versions/*